@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: rgb(240,240,240);
  font-family: 'Montserrat', sans-serif;
  color: rgb(20,20,20);
  font-size: 15px;
  line-height: 1.5;
}

img {
  width: 150px;
  /* width: 100%; */
}

h1 {
  color: 2a9d8f;
  font-size: 30px;
  margin-top: 5px;
}

h2 {
  color: 264653;
  font-size: 18px;
}

li {
  line-height: 1.2;
}

a {
  text-decoration: none;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  width: 850px;
  /* width: 100%; */
  margin: 0 auto;
}

.card-white {
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 20px;
  margin: 20px;
  box-shadow: 1px 3px 7px 3px rgba(0,0,0,0.08) ;
}

.img-circle {
  border-radius: 50%;
}

.btn-orange {
  background-color: f4a261;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  color: white;
  display: block;
  width: max-content;
  margin: auto;
  margin-bottom: 10px;
}

.btn-orange:hover {
  background-color: bb3e03;
}

.btn-media {
  color: lightgrey;
  font-size: 35px;
}

.btn-media:hover {
  color: black;
}

.text-center {
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
